/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden; /* Prevents unwanted scrolling due to 100vh/100% setup */
    background-color: var(--color-bg-deep); /* Ensure full background coverage */
  }